# Core functionality - changes here should be rare!
/src/app.py                   @kingraecannon0
/src/backend/database.py      @kingraecannon0
/src/backend/routers/auth.py  @kingraecannon0

# The frontend will need refactored soon to be more object oriented.
/src/static/   @kingraecannon0
